@namespace Flashy.Components.Layout

<div class="button-group">
    <button class="btn btn-primary" @onclick="OnPrevious">
        Previous
    </button>
    <button class="btn btn-primary" @onclick="OnNext">
        Next
    </button>
    <button class="btn btn-danger" @onclick="OnDelete">
        Delete
    </button>
    <button class="btn btn-warning" @onclick="OnEdit">
        Edit
    </button>
</div>

@code {
    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback OnPrevious { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    [Parameter]
    public EventCallback OnEdit { get; set; }
}
