@page "/study-flashcards"
@inject FlashcardService FlashcardService

<PageTitle>Study Flashcards</PageTitle>
<h1>Study Flashcards</h1>

@foreach (var flashcard in FlashcardService.Flashcards)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@flashcard.Question</h5>
            <p class="card-text">@flashcard.Answer</p>
        </div>
    </div>
}

<Buttons />
